*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000116;
}

.slider {
    position: absolute;
    background: #000116;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: inset(0 100% 0 0);;
}

.slider .slide.active {
    clip-path: inset(0 0 0 0);
    transition: 1s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    color: #d44b15;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .5s ease;
}

.slider:hover .info {
    opacity: 1;
}

.info h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.navigation {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn, .next-btn {
    z-index: 999;
    font-size: 20px;
    color: #222;
    background: rgba(236, 116, 4, 0.466);
    padding: 10px;
    cursor: pointer;
}

.navigation-visible {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visible .slide-pointer {
    z-index: 999;
    background: rgba(255,255,255,0.5);
    width: 22px;
    height: 7px;
    margin: 6px;
    border-radius: 2px;
}

.navigation-visible .slide-pointer.active {
    background: #e78044;
}